<!doctype html>
<html>
  <head>
    <title>Top 10 Apple Cup games of all time</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html", json.project) %>
  </head>
  <body>

    <div class="fixed-frame"></div>

    <main class="scroll">

      <div class="ad-spot">
        <%= t.include("partials/_ad.html", { type: "banner" }) %>
      </div>
      <header class="intro">
        <nav class="logo-bar">
          <a class="logo" href="http://seattletimes.com">
            <img src="./assets/st-logo.png">
          </a>
        </nav>

        <div class="contents">

          <h1>Top 10 Apple Cup games of all time</h1>

          <p>
            The Washington Huskies and Washington State Cougars will meet for the 112th time on Friday, Nov. 29 to take part in a Washington state football tradition unlike any other. The stakes aren’t nearly as high in this year’s Apple Cup as they’ve been in recent years. While both teams are still bowl eligible, the game doesn’t carry the weight of a potential Rose Bowl or College Football Playoff berth as it has in the past. But the rivalry remains, and so do the bragging rights at stake. The Dawgs have demoralized the Cougars, winnings six straight Apple Cups and nine of the last 10. But the annual clash of purple and crimson seems to typically produce compelling games, regardless of the consequences. Scroll through this list to relive some of the very best Apple Cup thrillers in this storied rivalry. 

          <div class="social">
            <a class="share"></a>
          </div>

          <p class="byline">
            <span class="byline-name">Development by Sean Quinton</span>
          </p>

          <p class="instructions">
            <i class="fa fa-chevron-down"></i>
            Scroll to continue
            <i class="fa fa-chevron-down"></i>

        </div>

      </header>

    <% json.photos.sort(function(a, b) { return a.order - b.order }).forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

      <footer>
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/st-logo.png">
        </a>
        <a class="share-bottom"></a>
      </footer>

    </main>

    <aside class="no-mobile-portrait">
      <a class="ok" href="javascript:;">
        <i class="fa fa-times-circle-o"></i>
      </a>
      Hey! This page is designed to look best in landscape mode. Rotate your device to see for yourself.
      <i class="fa fa-rotate-left rotation"></i>
    </aside>

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
